coverage==4.0.2
dj-database-url==0.4.0
Django==2.2.24
django-anymail==1.2.1
django-easy-timezones==0.7.0
django-pylibmc==0.6.1
gunicorn==19.5.0
ipaddress==1.0.14
psycopg2-binary==2.8.6
py3njection==1.4
pygeoip==0.3.2
pylibmc==1.6.1
pytz==2015.7
requests==2.20.0
six==1.10.0
whitenoise==3.1
