{% extends "learn/base.html" %}
{% load humanize %}
{% block content %}
    <h3>{{ translation.dictionary.language }}</h3>
    <div class="row">
        <div class="col s12">
            French ({{ translation.get_importance_str }}):
        </div>
        <div class="col s12 card-panel">
            <p>{{ translation.known_word }}</p>
        </div>
        <div class="col s2">Successes : {{ notation.successes }}</div>
        <div class="col s4">Next repetition : {{ estimated_next_repetition|naturaltime }}</div>
    </div>
    <div class="row">
        <form class="col s12"
              action="{% url 'learn:validate_exercise' dictionary_pk=translation.dictionary.id translation_pk=translation.id %}"
              method="post">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    {% if bad_input %}
                        <input placeholder="Translate the word!" id="answer" name="answer" type="text"
                               class="validate invalid">
                        <div class="card-panel red lighten-3">This field is required.</div>
                    {% else %}
                        <input placeholder="Translate the word!" id="answer" name="answer" type="text"
                               class="validate">
                    {% endif %}
                    <label for="answer">Answer</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <a href="{% url 'learn:choose_exercise' dictionary_pk=translation.dictionary.id %}"
               class="waves-effect waves-light btn">Next</a>
        </div>
    </div>
{% endblock content %}
